:root {
	/* Fonts */
	--font-main: 'SF UI Display', sans-serif;

	/* Colors */
	--page-bg: #F3F7FB;
	--tariffs-desc: #C3C8CF;
	--accent: #E0B330;

	--black: #0E0F11;
	--white: #fff;

	--gold-gradient: linear-gradient(#fff, #fff) padding-box, linear-gradient(#f5Ce5b, #fbee8800) border-box;
	--gray-gradient: linear-gradient(#fff, #fff) padding-box, linear-gradient(#f3f7fb, #f3f7fb1a) border-box;
}


@mixin desctop-s {
	@media (max-width: 1229px) {
    @content;
  }
} 

@mixin tablet {
	@media (max-width: 1051px) {
    @content;
  }
} 

@mixin phone {
	@media (max-width: 706px) {
    @content;
  }
} 