.card {
  // height: 769px;
  border-radius: 24px;
  background-color: var(--white);
  padding: 32px 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &_gold {
    border: 4px solid #e0b330;
    position: relative;

    &::before {
      content: 'Лучший тариф';
      position: absolute;
      top: -34px;
      left: 50%;
      transform: translateX(-50%);
      padding: 6px 12px;
      border-radius: 16px 16px 0px 0px;
      background: linear-gradient(180deg, #fff289 0%, #d2a41d 100%), #fff;
      color: var(--white);
    }
  }

  // @include desctop-s {
  //   order: 2;

  //   &_gold {
  //     order: 0;
  //   }

  //   &_blue {
  //     order: 1;
  //   }
  // }
}

.card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__icon {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  &_gray {
    padding: 0.5rem;
    border: 10px solid transparent;
    border-radius: 50%;
    background: linear-gradient(to right, white, white),
      linear-gradient(#f3f7fb, #fff);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }

  &_gold {
    padding: 0.5rem;
    border: 10px solid transparent;
    border-radius: 50%;
    background: linear-gradient(to right, white, white),
      linear-gradient(#f5ce5b, #fff);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }
}

.card__title {
  margin-top: 20px;
  font-size: clamp(20px, 1.01rem + 1.2vw, 32px);
  font-weight: 600;
}

.card__subtitle {
  margin-top: 8px;
  text-align: center;
  color: #8f959b;
  font-size: clamp(14px, 0.835rem + 0.2vw, 16px);
}

.card__main {
  padding: 32px 24px 24px 24px;
  border-radius: 20px;
  background-color: var(--page-bg);
  text-align: center;

  &_gold {
    background: url(./../../img/gold-bg.png),
      linear-gradient(180deg, #e0b330 0%, #fbee88 51.1%, #e0b330 100%);
  }
}

.card__price {
  font-size: clamp(24px, 1.18rem + 1.6vw, 40px);
  font-weight: 700;
  line-height: 120%;

  &_gold {
    color: var(--white);
  }
}

.card__period {
  margin-top: 8px;
  color: #8f959b;
  font-size: clamp(14px, 0.835rem + 0.2vw, 16px);
  line-height: 100%;

  &_gold {
    color: var(--white);
  }
}

.card__btn {
  margin-top: 24px;
}

.card__promo {
  // background-image: url(./../img/card-gold.png);
  // background-size: contain;
  // background-repeat: no-repeat;
  // height: 72px;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--white);
  height: 72px;
  border-radius: 16px;

  &_gold {
    background: url(./../img/card-gold.svg) no-repeat, url(./../img/gold-bg.png), 
    linear-gradient(180deg, #e0b330 0%, #fbee88 51.1%, #e0b330 100%);
  }

  &_blue {
    background: url(./../img/card-blue.svg) no-repeat, url(./../img/blue-bg.png), 
    linear-gradient(180deg, #2557F6 0%, #5B82FF 51.1%, #2557F6 100%);
  }
}

.card__hint {
  background-image: url('../../img/question-icon-gold.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  position: relative;

}


.card__footer {
}

.card__benefits-list {
  display: grid;
  gap: 12px;
  padding: 0 20px;
}

.card__benefits-item {
  font-size: clamp(14px, 0.835rem + 0.2vw, 16px);
  line-height: 140%;
  padding-left: 26px;
  background: url(./../img/confirm-icon.svg) no-repeat left top;

  &_special {
    display: flex;
  }
}

.card__benefits-img {
  display: flex;
  width: 22px;
  height: 22px;
  margin-left: 6px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  border: 1px solid var(--white);
  background: #f3f7fb;

  &:not(:first-child) {
    margin-left: -7px;
  }
}
