// .tariffs {
// }

.tariffs__desc {
  margin-top: 48px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--tariffs-desc);

  @include phone {
    font-size: 14px;
    margin-top: 32px;
  }
}

.tariffs__title {
  margin-top: 24px;
  text-align: center;
  font-size: 56px;
  font-weight: 600;

  @include phone {
    font-size: 32px;
    margin-top: 12px;
  }
}

.tariffs__cards {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  margin-bottom: 50px;

  @include tablet {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}

// .tariffs__card {
// }

